@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;  /* Firefox */
}


@layer base {
  @font-face {
    font-family: 'HelveticaNeueLTStd-BdEx';
    src: url('./assets/fonts/HelveticaNeueLTStd-BdEx.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'HelveticaNeueLTStd-HvEx';
    src: url('./assets/fonts/HelveticaNeueLTStd-HvEx.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'HelveticaNeueLTStd-ThEx';
    src: url('./assets/fonts/HelveticaNeueLTStd-ThEx.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .para {
    @apply text-sm md:text-lg 
  }

  .sub-heading {
    @apply text-2xl
  }

  .heading {
    @apply text-3xl
  }

  .display {
    @apply text-5xl
  }
}